<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

<link rel="stylesheet" th:href="@{/static/bootstrap/css/style.css}" />
<title>车辆列表</title>
</head>
<body  background="/springmvc-05-car/pic/128.jpg">

	<!--查询条件-->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h3>条件检索</h3>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body" style="background-color: #FFFFFF">
                    <form class="form-inline" role="form">
                    	<!-- 1.品牌 -->
                        <div class="form-group">
                            <label  for="name" style="background-color: #FAFAFA;margin-left: 65px;font-size: 25px;font-weight: 600;color: #800040;">品牌&ensp;</label>
                            <span id="brand" name="brand" style="background-color: #FFFFFF;font-size: 25px;font-weight: 400;color: #800040;"></span>
                        </div>
                        <br>
                        <!-- 2.车系 -->
                        <div class="form-group">
                            <label   for="contact" style="background-color: #FAFAFA;margin-left: 65px;font-size: 25px;font-weight: 600;color: #800040;">车系&ensp;</label>
                            <span id="series" style="background-color: #FFFFFF;font-size: 25px;font-weight: 400;color: #800040;"></span>
                        </div>
                        <br>
                        <!-- <div class="checkbox">
						    <label>价格
						      <span id="price">
								
							</span>
						    </label>
						  </div> -->
                        <!-- 3.价格 -->
                       <div class="checkbox">
                            <label class="col-sm-12 control-label" for="price" style="background-color: #FAFAFA;margin-left: 65px;font-size: 25px;font-weight: 600;color: #800040;">价格&ensp;
                            <span id="price" style="transform: scale(3,3);font-weight: 300;font-size: 25px;background-color: #FAFAFA;">
								
							</span>
							</label>
                        </div> 
                        <br>
                      <!-- 车龄 -->
                        <div class="form-group">
                            <label  for="contact" style="background-color: #FAFAFA;margin-left: 65px;font-size: 25px;font-weight: 600;color: #800040;">车龄&ensp;</label>
                            <span  id="vehicle_age" style="transform: scale(2,2);font-weight: 300;font-size: 25px;background-color: #FAFAFA;">
			    	
			    			</span>
                        </div>
                        <br>
                        <!-- 级别-->
                        <div class="form-group">
                            <label  for="contact" style="background-color: #FAFAFA;margin-left: 65px;font-size: 25px;font-weight: 600;color: #800040;">级别&ensp;</label>
                            <select class="form-control" name="level" id="level">
								<option value=''>==请选择==</option>
							</select>
                        </div>
                        <!-- 4.变速箱-->
                        <div class="form-group">
                            <label  for="contact" style="background-color: #FAFAFA;margin-left: 65px;font-size: 25px;font-weight: 600;color: #800040;">变速箱&ensp;</label>
                            <select class="form-control" name="level" id="gearbox">
								<option value=''>==请选择==</option>
							</select>
                        </div>
                        <br>
                        <!-- 5.排量-->
                        <div class="form-group">
                            <label  for="contact" style="background-color: #FAFAFA;margin-left: 65px;font-size: 25px;font-weight: 600;color: #800040;">排量&ensp;</label>
                            <select class="form-control" name="output_volume" id="output_volume">
								<option value=''>==请选择==</option>
							</select>
                        </div>
                        <!-- 6.归属地 -->
						<div class="form-group">
							<label for="locati+son" style="background-color: #FAFAFA;margin-left: 65px;font-size: 25px;font-weight: 600;color: #800040;">归属地&ensp;</label>
							<div class="col-sm-5 input-group">
								<input type="text" autocomplete="off" name="location"
									class="form-control" id="location" placeholder="归属地">
							</div>
						</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--查询条件-->
	<div class="container-fluid">
		<div class="row" id="carList">
		</div>
	</div>
	<div style="text-align: center;margin-left:auto">
		<button type="button" class="btn btn-primary" id="firstPage">首页</button>
		<button type="button" class="btn btn-success" id="prePage">上一页</button>
		<button type="button" class="btn btn-danger" id="nextPage">下一页</button>
		<button type="button" class="btn btn-warning" id="lastPage">尾页</button>
	</div>

<script th:src="@{/static/js/jquery/jquery.min.js}"
		type="text/javascript"></script>
	<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/static/bootstrap/js/validate/jquery.validate.min.js}"
		type="text/javascript"></script>
	<script th:src="@{/static/bootstrap/js/validate/messages_zh.min.js}"
		type="text/javascript"></script>

<script th:inline="javascript" type="text/javascript">
	const path = /*[[${#request.getContextPath()}]]*/
	
	
	$(function(){
		et1911.queryList();
		et1911.queryBrand();
		et1911.querySeries('');
		//查询级别和排量
		et1911.querySelectDict('level')
		et1911.querySelectDict('output_volume')
		et1911.querySelectDict('gearbox')
    
		//查询价格区间
		et1911.getPriceDict()
		et1911.getVehicleAgeDict()
		
		
		
		$('#firstPage').click(function(){
			et1911.queryList();
		})
		$('#nextPage').click(function(){
			et1911.queryList(++currentPage);
		})
		$('#prePage').click(function(){
			et1911.queryList(--currentPage);
		})
		$('#lastPage').click(function(){
			et1911.queryList(pageCount);
		})
		
		
		
		$('#level').change(function(){
			
			et1911.queryList();
		})
		$('#gearbox').change(function(){
			
			et1911.queryList();
		})
		$('#output_volume').change(function(){
			
			et1911.queryList();
		})
		
		$('#location').on('blur',function(){
			et1911.queryList();
		})

		$("input[name='price']").change(function(){
			et1911.queryList()
		})
		$("#vehicle_age").change(function(){
			et1911.queryList()
		})
		
		
		
	})
	let currentPage=1;
	let pageCount;


	let brand = ''
	let gearbox = ''
	
	let locations = ''
	let output_volume = ''
	let level = ''
	let seriesValue = ''

	

	let et1911 = {
			
			getPriceDict:function(){
				$.ajax({
					url:path+'/dict/price',
					type:'get',
					data:'',
					dataType:'json',
					async:false,
					success:function(res){
						let checkbox = ''
							for(dict of res){
        						checkbox += "<label class='checkbox-inline'>"
        						+"&ensp;<input  type='checkbox' name='price' value='"+dict.value+"'>"
        						+dict.name
        						+"&ensp;&ensp;&ensp;</label>"
        					}

						$('#price').html(checkbox)
					}
				})
			},
			getVehicleAgeDict:function(){
				$.ajax({
					url:path+'/dict/vehicle_age',
					type:'get',
					data:'',
					dataType:'json',
					async:false,
					success:function(res){
						let radio = ''
						$.each(res,function(i,dict){
							radio += "<label class='radio-inline'>"
							+"&ensp;<input style='transform: scale(1.5,1.5);font-weight: 300;font-size: 30px;' type='radio' name='vehicleAge' value='"+dict.value+"'>"+dict.name+"&ensp;&ensp;&ensp;</label>"
						})
						$('#vehicle_age').html(radio)
					}
				})
			},
			
			
			
			queryList: function(pageNum,pageSize){
				
				
				//如果pageNum,pageSize不传(或者传入'',Undefined),这时就取后面的数值
				pageNum = pageNum || 1
				pageSize = pageSize || 8
				
				
				let level = $('#level').val() || ''
				let gearbox = $('#gearbox').val() || ''
				let outputVolume = $('#output_volume').val() || ''
				let location = $('#location').val() || ''
				
				let priceList = []
				
				$("input[name='price']:checked").each(function(){
					//console.log(priceList)
					priceList.push(this.value)
				})
				let vehicleAge = $('input[name="vehicleAge"]:checked').val() || ''
				
				
				$.ajax({
					url: path + '/car/list',
					type: 'GET',
					data:'pageNum='+pageNum
					+'&pageSize='
					+pageSize
					+'&series='+seriesValue		
					+'&brand='+brand
					+'&level='+level
					+'&gearbox='+gearbox
					+'&location='+location
					+'&outputVolume='+outputVolume
					+'&priceList='+priceList
					+'&vehicleAge='+vehicleAge,

					dataType:'json',
					success: function(res){
						//当前页
						currentPage = res.pageNum
						
						//总页数
						pageCount = res.pageCount
						
						
						let divs = '';
						$.each(res.rows,function(index,car){
							/* divs += "<div class='col-md-3'>"
									+ "<img class='img-thumbnail' src='" + path + car.pic + "' style='width: 550px;height: 350px'>"
									+ "</div>" */
							divs+=`
                            	<div class="col-sm-6 col-md-3">
                                <div class="thumbnail" >
                                	<img src="${path+car.pic}" style="width: 550px;height: 350px">
                                    <div class="caption" style="background-color: #A6A6A6" >
                                    	<h3  style="font-weight: 600;margin-left: 35px;">${car.brand} /
                                    	${car.series} /${car.gearboxName}</h3>
                                    	<h3 style="margin-left: 35px;">${car.licensingTime}上牌|${car.mileage}万公里</h3>
	                                    <h3 style="color: #ff0000; margin-left: 35px;">价格:${car.price}万元</h3>
	                                    <h4 style="margin-left: 35px;color:#FFF000">${car.location}</h4>
	                                    <h4 style="font-weight: 600;margin-left: 35px;">${car.summary}</h4>
                                  </div>
                                </div>
                              </div> `
						})
						$('#carList').html(divs)
						
						//如果是第一页,把上一页和首页禁用
						if(res.first){
							$('#firstPage').attr('disabled','disabled')
							$('#prePage').attr('disabled','disabled')
						}else{
							$('#firstPage').removeAttr('disabled')
							$('#prePage').removeAttr('disabled')
						}
						
						//如果是最后一页,把尾页和下一页禁用
						if(res.last){
							$('#lasttPage').attr('disabled','disabled')
							$('#nextPage').attr('disabled','disabled')
						}else{
							$('#lastPage').removeAttr('disabled')
							$('#nextPage').removeAttr('disabled')
						}
					}
				});
			},
			queryBrand:function(){
  			  $.ajax({
						url:path+'/car/getBrand',
						type:'get',
						data:'',
						dataType:'json',
						success:function(data){
							let radio = ''
								$.each(data,function(index,brand){
								radio += `<span onclick="et1911.querySeries('${brand}')">${brand}&ensp;&ensp;&ensp;&ensp;</span>`
							})
							$('#brand').html(radio)
						}
					})
  		  },
	  		querySeries:function(brands){
	  				brand = brands || '';
	  				seriesValue=''
	  				console.log(brand)
	  				et1911.queryList()
				  $.ajax({
							url:path+'/car/getSeries',
							type:'get',
							data:'brand='+brands,
							dataType:'json',
							success:function(data){
								console.log(data)
								let radio = ''
								for ( let dict of data ){
									radio += `<span onclick="et1911.querySer('${dict}')">${dict}&ensp;&ensp;</span>`
								}
								$('#series').html(radio)
							}
						})
			  },
			  querySer:function(seriess){
				  seriesValue = seriess
				  et1911.queryList()
				  
			  },
			  
				//查询级别和排量变速箱
				querySelectDict: function(groupId){
					if(groupId){
						$.ajax({
							url:path+'/dict/'+groupId,
							type:'get',
							data:'',
							dataType:'json',
							success:function(data){
								let options = "<option value=''>==请选择==</option>"
								 for(let dict of data){
									options += "<option value='"+dict.value+"'>"
											+ dict.name
											+ "</option>"
								} 
								$('#' + groupId).html(options)
							}
						})
					}
					
				}
			  
			  
	}
	
</script>
</body>
</html>